.btn {
    margin: 5px;
}

.btn-secondary.selected {
    /* background-color: rgb(218, 91, 7);
    border-color: rgb(218, 91, 7); */
    background-color: red;
    border-color: red;
}

.hide {
    display: none;
}


.vl {
    border-left: 1px solid rgb(156, 156, 156);
    margin-right: 10px;
    margin-left: 10px;
  }

#label {
    margin-left: 10px;
}

.optionSelected {
    /* background-color: rgb(184, 36, 36);
    border-color: rgb(184, 36, 36); */
    background-color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
}

ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px;
}

.btn-secondary.link.selected {
    /* background-color: rgb(40, 118, 207);
    border-color: rgb(40, 118, 207); */
    background-color: black;
    border-color: black;
}

.filter-red {
    filter: invert(12%) sepia(89%) saturate(4856%) hue-rotate(7deg) brightness(89%) contrast(122%);
}