<div class="d-flex p-2 justify-content-start drawing-boundary flex-column">
    <ul *ngFor="let nodeLink of nodeLinks">
        <div class="align-items-center circle" id={{nodeLink.label}} [class.hide]="nodeLink.nodeOrLink === 'link'" cdkDrag cdkDragBoundary=".drawing-boundary" (cdkDragStarted)="onDragStart()" (cdkDragReleased)="onDragStopped()">
            <div class="d-flex align-items-center" style="height: 70px;">
                <div class="align-self-center">
                    <input [(ngModel)]="nodeLink.label" class="boardNode" (change)="onLabelChange(nodeLink)">
                </div>
            </div>
        </div>
        <ejs-contextmenu id='contextmenu' target='#{{nodeLink.label}}' [items]= 'nodeLink.listContext' (select)="itemSelect($event, nodeLink)"></ejs-contextmenu>
    </ul>
</div>
