@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
 
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
 
 
 
/* Context Menu target */
 
/* #target {
 
    border: 1px dashed;
 
    height: 150px;
 
    padding: 10px;
 
    position: relative;
 
    text-align: justify;
 
    color: gray; 
 
    user-select: none;
 
} */

.circle {
    width: 70px;
    height: 70px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
  }

.boardNode {
    width: 70px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: large;
}

.drawing-boundary {
    height: 700px;
    border: 2px;
    border-color: gray;
    border-style: dashed;
}

ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px;
}

.hide {
    display: none;
}